body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    min-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

main {
    background-color: var(--advice-card-color);
    width: 300px;
    height: 250px;
    border-radius: 10px;

}

.card {
    text-align: center;
    padding-top: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: var(--advice-dice-color);
}

.texto {
    padding: 20px;
}

.divisoria {
    width: 90%;
    padding-bottom: 55px;
}


.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--advice-dice-color);
    cursor: pointer;
    max-width: 100px;
    border: none;
    
}

.botao:hover {
    background-color: white;
    transition: 0.5s;
}

@media screen and (max-width= 768px) {
    .card {
        width: 200px;
        height: 150px;
    }

    .divisoria {
        width: 100vw;
    }
}

