body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
    font-weight: 800;
}

.cartao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    border-radius: 10px;
    margin: 20px;
    width: 500px;
}

.advice .advice-id {
    color: var(--advice-dice-color);
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
}

.advice .text {
    color: var(--text-color);
    text-align: center;
    font-size: 23px;
    padding: 23px;
}

.advice .botao {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--advice-dice-color);
    transform: translateY(50%);
}

.advice .entorno:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}



@media(max-width: 768px){
    .advice{
        padding-inline: 50px;
        width: 386px;
    }
    .advice p{
        font-size: 21px;
        padding: 26px;
    }
}