/* seletor: pseudo-classe {
    propriedade: valor;
} */

p:first-child {
    color: green;
}

p:last-child {
    color: blueviolet;
}

/* p:not(.padrao) {
    color: yellow;
} */

/* p:nth-child(1) {
    color: red;
} */


li:nth-child(even) {
    color: blue;
}

/* li:nth-child(n+2):nth-child(-n+5) {
    color: red;
}  */

li:nth-last-child(1) {
    color: blueviolet;
}

p:only-child {
    color: yellowgreen;
}