h1 {
    color: green;
    font-size: 3em;
}

.paragrafo {
    color: blue;
}

#menu {
    margin-left: 500px;
}

.titulo {
    font-size: 50px;
}

.titulo.vermelho {
    color: red;
}

.titulo.laranja {
    color: orange;
}

.div{
    background-color: aquamarine;
}

p, span {
    font-size: 30px;
    text-align: justify;
}

.sobre {
    background-color: blanchedalmond;
}

.sobre .texto {
    color: palevioletred;
    background-color: blue;
}

div > p {
    color: royalblue;
    background-color: violet;
}

div + p {
    color: aqua;
}

a[target=_blank] {
    color: red;
}

a[href="google.com"] {
    color: chartreuse;
}