a {
    cursor: progress;
    margin: 20px;
    font-style: italic;
    transition: color 3s ease-in-out;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:visited {
    color: orange;
}

a:active {
    color: red;
}

a:hover {
    background-color: red;
    color: blue;
}