* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/bg-desktop.svg') center center no-repeat;
    background-size: cover;
}

@media (max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
    }
    body {
        background: url('../img/bg-mobile.svg') center center no-repeat;
        background-size: cover;
    }
}